%table.table.table-striped.table-bordered
  %tr
    %td
      %b Тип
    %td= translate_tenant_category @tenant.category
  %tr
    %td
      %b Назва
    %td= @tenant.name
  %tr
    %td
      %b Код
    %td= @tenant.code
  %tr
    %td
      %b Вулиця
    %td= @tenant.street.name
  %tr
    %td
      %b Населений пункт
    %td= @tenant.settlement.name
  %tr
    %td
      %b Номер будинку
    %td= @tenant.house_number
  %tr
    %td
      %b Номер квартири
    %td= @tenant.apt_number
  %tr
    %td
      %b Коментар
    %td= @tenant.comment
