.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left Сесія
    .btn-group{role: "group", class: "pull-right"}
      = link_to 'Редагувати', edit_session_path(@session),
        class: %w(btn btn-default)
      = link_to 'Видалити', session_path(@session),
        method: :delete,
        data: {confirm: 'Видалити запис сесії?'},
        class: %w(btn btn-danger)
  %table.table.table-striped.table-bordered
    %tr
      %td Номер
      %td= @session.code
    %tr
      %td Дата проведення
      %td= I18n.l @session.s_date
- if @session.agreements.any?
  .panel.panel-default
    .panel-heading
      %h3.panel-title Розглянуті договори
    = render 'agreements/list_table_short', :@agreements => @session.agreements.order(reg_date: :desc)
- if @session.extensions.any?
  .panel.panel-default
    .panel-heading
      %h3.panel-title Розглянуті договори про внесення змін та додаткові угоди
    = render 'extensions/list_table', :@extensions => @session.extensions.order(reg_date: :desc)
