= simple_form_for [@agreement, @extension] do |f|
  = f.input :category, label: 'Вид оновлення'
  = f.input :code, label: 'Номер'
  = f.input :reg_date, label: 'Дата реєстрації', start_year: Date.today.year - 20, end_year: Date.today.year
  = f.input :due_date, label: 'Дійсний до', start_year: Date.today.year - 20, end_year: Date.today.year + 50
  = f.input :interest, label: 'Орендна плата (%)'
  = f.association :sessions,
                  label: 'Сесії',
                  collection: Session.where("s_date >= ?", @agreement.reg_date).order(:s_date => :desc),
                  label_method: lambda { |s| "#{I18n.l s.s_date} / #{s.code}" }
  = f.input :comment, label: 'Коментар'
  = f.button :submit, 'Зберегти'
