%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        %b Номер
      %th
        %b Дата проведення
      %th
        %b Вартість
      %th.controls-3
  %tbody
    - @valuations.order(:val_date).each do |v|
      %tr{class: (('success' if v.rent_object.relevant_valuation @agreement.last_reg_date == v) if params[:controller] == 'agreements')}
        %td= v.code
        %td= v.val_date
        %td= v.value
        %td
          .btn-group{role: "group"}
            = link_to '', rent_object_valuation_path(v.rent_object, v), class: 'btn btn-default btn-xs glyphicon glyphicon-eye-open'
            = link_to '', edit_rent_object_valuation_path(v.rent_object, v), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil'
            = link_to '', rent_object_valuation_path(v.rent_object, v), method: :delete,
              data: { confirm: 'Видалити запис грошової оцінки?' },
              class: 'btn btn-danger btn-xs glyphicon glyphicon-trash'
