%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        %b Номер
      %th
        %b Дійсний до
      %th
        %b Орендар
      %th
        %b Орендна плата
      %th
        %b Архів
      %th.controls-3
  %tbody
    - @agreements.each do |a|
      %tr
        %td= a.code
        %td= a.due_date
        %td= a.tenant.name
        %td= number_to_percentage(a.interest, precision: 0)
        %td
          %span{class: boolean_to_glyph_class(a.archived)}
        %td
          .pull-right.btn-group{role: "group"}
            = link_to '', agreement_path(a), class: 'btn btn-default btn-xs glyphicon glyphicon-eye-open'
            = link_to '', edit_agreement_path(a), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil'
            = link_to '', agreement_path(a), method: :delete,
              data: { confirm: 'Видалити запис договору?' },
              class: 'btn btn-danger btn-xs glyphicon glyphicon-trash'
