%table.table
  %thead
    %tr
      %th
      %th
        %b Сервітут
      %th
        %b Номер
      %th
        %b Дійсний до
      %th
        %b Орендар
      %th
        %b Орендна плата (%)
      %th
        %b Об’єкт оренди
      %th
        %b Архів
      %th
        %b Днів залишилось
      %th.controls-3
  %tbody
    - @agreements.each do |a|
      %tr{class: ('warning' if a.days_left <= 30 && a.days_left >=1) || ('danger' if a.days_left <= 0)}
        %td
          %span.glyphicon.glyphicon-file
        %td= a.easement
        %td= a.code
        %td= a.due_date
        %td= link_to a.tenant.name, tenant_path(a.tenant)
        %td= a.interest
        %td= link_to "#{a.rent_object.code} / #{a.rent_object.area} га.", rent_object_path(a.rent_object)
        %td= a.archived
        %td= a.days_left
        %td
          .btn-group{role: "group"}
            = link_to '', agreement_path(a), class: 'btn btn-default btn-xs glyphicon glyphicon-eye-open'
            = link_to '', edit_agreement_path(a), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil'
            = link_to '', agreement_path(a), method: :delete,
              data: { confirm: 'Видалити запис договору?' },
              class: 'btn btn-danger btn-xs glyphicon glyphicon-trash'
      - a.extensions.each do |e|
        %tr
          %td
            - if e.addition?
              %span.label.label-default
                %abbr{title: "Додаткова угода"} ДУ
            - if e.change?
              %span.label.label-default
                %abbr{title: "Договір про внесення змін"} ДПВЗ
          %td
          %td= e.code
          %td= e.due_date
          %td
          %td= e.interest
          %td
          %td= e.archived
          %td
          %td
            .btn-group{role: "group"}
              = link_to '', agreement_extension_path(a, e), class: 'btn btn-default btn-xs glyphicon glyphicon-eye-open'
              = link_to '', edit_agreement_extension_path(a, e), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil'
