%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
      %th
        %b Номер
      %th
        = sort_link(@search, :reg_date, 'Від') do
          %b Від
      %th
        = sort_link(@search, :due_date, 'До') do
          %b Дійсний до
      %th
        %b Орендар
      %th
        %b
          %abbr{title: "Орендна плата"} ОП
      %th
        %b Об’єкт оренди
      %th
        %b Архів
      %th
        %b
          %abbr{title: "Днів залишилось"} ДЗ
      %th.controls-3
  %tbody
    - @agreements.each do |a|
      %tr{class: ('warning' if a.days_left <= 30 && a.days_left >=1) || ('danger' if a.days_left <= 0)}
        %td
          %span.label.label-primary
            - if a.easement?
              %abbr{ title: "Договір сервітуту" } ДС
            - else
              %abbr{ title: "Договір оренди" } ДО
        %td= a.code
        %td= a.reg_date
        %td= a.due_date
        %td= link_to "#{translate_tenant_category(a.tenant.category)} #{a.tenant.name}", tenant_path(a.tenant)
        %td= number_to_percentage(a.interest, precision: 0)
        %td
          - a.rent_objects.each do |ro|
            = link_to "#{ro.code} / #{ro.area} га. / #{ro.function}", rent_object_path(ro)
            %br
        %td
          %span{class: boolean_to_glyph_class(a.archived)}
        %td= a.days_left
        %td
          .btn-group{role: "group"}
            = link_to '', agreement_path(a), class: 'btn btn-default btn-xs glyphicon glyphicon-eye-open'
            = link_to '', edit_agreement_path(a), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil'
            = link_to '', agreement_path(a), method: :delete,
              data: { confirm: 'Видалити запис договору?' },
              class: 'btn btn-danger btn-xs glyphicon glyphicon-trash'
      - a.extensions.each do |e|
        %tr
          %td
            - if e.addition?
              %span.label.label-default
                %abbr{title: "Додаткова угода"} ДУ
            - if e.change?
              %span.label.label-default
                %abbr{title: "Договір про внесення змін"} ДПВЗ
          %td= e.code
          %td= e.reg_date
          %td= e.due_date
          %td
          %td= number_to_percentage(e.interest, precision: 0)
          %td
          %td
          %td
          %td
            .btn-group{role: "group"}
              = link_to '', agreement_extension_path(a, e), class: 'btn btn-default btn-xs glyphicon glyphicon-eye-open'
              = link_to '', edit_agreement_extension_path(a, e), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil'
