%table.table.table-striped.table-bordered
  %tr
    %td
      %b Всього договорів
    %td= @agreements.count
  %tr
    %td
      %b Всього договорів оренди
    %td= @agreements.where(easement: false).count
  %tr
    %td
      %b Всього договорів сервітуту
    %td= @agreements.where(easement: true).count
  %tr
    %td
      %b Всього договорів про внесення змін
    %td= count_extensions(@agreements, 'change')
  %tr
    %td
      %b Всього додаткових угод
    %td= count_extensions(@agreements, 'addition')
