.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Пошук
      .panel-body
        = search_form_for @search, url: agreements_path, builder: SimpleForm::FormBuilder do |f|
          = f.input :tenant_category_eq, as: :select, collection: tenant_categories_uk, required: false, label: 'Тип орендаря'

          = f.input :tenant_name_cont, required: false, label: 'Назва орендаря'

          = f.input :reg_daterange, label: 'Дата реєстрації', input_html: {value: ""}, required: false
          = f.input :reg_date_gteq, as: :hidden
          = f.input :reg_date_lteq, as: :hidden

          = f.input :due_daterange, label: 'Дійсний до', input_html: {value: ""}, required: false
          = f.input :due_date_gteq, as: :hidden
          = f.input :due_date_lteq, as: :hidden

          = f.input :archived_eq, as: :select, label: 'Архів', required: false

          = f.submit "Пошук", class: 'btn btn-default'
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Статистика
      = render 'stats_table'
.panel.panel-default
  .panel-heading
    = link_to 'Новий договір',
      new_agreement_path,
      class: %w(btn btn-default)
  = render 'list_table'
