.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left
      - if @agreement.archived
        [Архів]
      Договір №
      = @agreement.code
    .btn-group{role: "group", class: "pull-right"}
      = link_to 'Редагувати', edit_agreement_path(@agreement),
        class: %w(btn btn-default)
      = link_to 'Оновлення',
        new_agreement_extension_path(@agreement),
        class: %w(btn btn-default)
      = link_to 'Видалити', agreement_path(@agreement),
        method: :delete,
        data: { confirm: 'Видалити запис договору?' },
        class: %w(btn btn-danger)
  .panel-body
    %table.table.table-striped
      %tr
        %td Код
        %td= @agreement.code
      %tr
        %td Дата підписання
        %td= @agreement.sign_date
      %tr
        %td Дійсний до
        %td= @agreement.due_date
      %tr
        %td Орендна плата (%)
        %td= @agreement.interest
      %tr
        %td Коментар
        %td= @agreement.comment
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Об’єкт
          = link_to "№ #{@agreement.rent_object.code}",
            rent_object_path(@agreement.rent_object)
      .panel-body
        = render 'rent_objects/show_table',
          :@rent_object => @agreement.rent_object
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Актуальна грошова оцінка
          -if @agreement.relevant_valuation
            = link_to "№ #{@agreement.relevant_valuation.code}",
              [@agreement.rent_object, @agreement.relevant_valuation]
      .panel-body
        = render 'valuations/list_table',
          :@valuations => @agreement.rent_object.valuations,
          :@agreement => @agreement
- if @agreement.extensions.any?
  .panel.panel-default
    .panel-heading
      %h3.panel-title Договори про внесення змін та додаткові угоди
    .panel-body
      = render 'extensions/list_table',
        :@extensions => @agreement.extensions
