.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left
      - if @agreement.archived
        [Архів]
      Договір №
      = @agreement.code
    .btn-group{role: "group", class: "pull-right"}
      = link_to 'Редагувати', edit_agreement_path(@agreement),
        class: %w(btn btn-default)
      = link_to 'Оновлення',
        new_agreement_extension_path(@agreement),
        class: %w(btn btn-default)
      = link_to 'Видалити', agreement_path(@agreement),
        method: :delete,
        data: { confirm: 'Видалити запис договору?' },
        class: %w(btn btn-danger)
  %table.table.table-striped.table-bordered
    %tr
      %td Код
      %td= @agreement.code
    %tr
      %td Дата реєстрації
      %td= @agreement.reg_date
    %tr
      %td Дійсний до
      %td= @agreement.due_date
    %tr
      %td Орендар
      %td
        = link_to "#{@agreement.tenant.category} #{@agreement.tenant.name}",
          tenant_path(@agreement.tenant)
    %tr
      %td Орендна плата
      %td= number_to_percentage(@agreement.interest, precision: 0)
    %tr
      %td Річна орендна плата
      %td
        - @agreement.yearly_rent.each do |rent|
          = "#{rent} грн."
          %br
    %tr
      %td Коментар
      %td= @agreement.comment
- @agreement.rent_objects.each do |ro|
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Об’єкт
            = link_to "№ #{ro.code}",
              rent_object_path(ro)
        = render 'rent_objects/show_table',
          :@rent_object => ro
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Актуальна грошова оцінка
            -if ro.relevant_valuation @agreement.last_reg_date
              = link_to "№ #{ro.relevant_valuation(@agreement.last_reg_date).code}",
                [ro, ro.relevant_valuation(@agreement.last_reg_date)]
        = render 'valuations/list_table',
          :@valuations => ro.valuations,
          :@agreement => @agreement
- if @agreement.extensions.any?
  .panel.panel-default
    .panel-heading
      %h3.panel-title Договори про внесення змін та додаткові угоди
    = render 'extensions/list_table',
      :@extensions => @agreement.extensions
