= simple_form_for @rent_object do |f|
  = f.input :code, label: 'Кадастровий номер', placeholder: 'Кадастровий номер земельної ділянки'
  = f.input :area, label: 'Площа', placeholder: 'Площа земельної ділянки в гектарах'
  = f.input :function, label: 'Призначення', placeholder: 'Призначення об’єкта оренди'
  = f.association :settlement, label: 'Населений пункт'
  = f.association :street, label: 'Вулиця'
  = f.input :house_number, label: 'Номер будинку', placeholder: 'Номер будинку'
  = f.input :comment, label: 'Коментар', placeholder: 'Коментар'
  = f.button :submit, 'Зберегти'
