%nav.navbar.navbar-default
  .container
    %ul.nav.navbar-nav
      %li{:class => ('active' if params[:controller] == 'agreements')}
        = link_to 'Договори', agreements_path
      %li{class: ('active' if params[:controller] == 'tenants')}
        = link_to 'Орендарі', tenants_path
      %li{class: ('active' if params[:controller] == 'rent_objects')}
        = link_to 'Об’єкти', rent_objects_path
      %li{class: ('active' if params[:controller] == 'sessions')}
        = link_to 'Сесії', sessions_path
    %ul.nav.navbar-nav.navbar-right
      %li
        %a.dropdown-toggle{'data-toggle': 'dropdown', role: 'button'}
          Додатково (Сервіс)
          %span.caret
        %ul.dropdown-menu
          %li= link_to 'Вулиці', streets_path
          %li= link_to 'Населені пункти', settlements_path
